h1 {{billed.title}}

.row
  .col-lg-12
    table.table.table-striped
      thead
        th Eindeutige ID
        th Kunde
        th Debitoren
        th UstIDnr
        th Net
        th Datum in Rechnung gestellt
        th PDF
        th CSV
      ttbody
        tr(ng-repeat='datas in billed.maindata', ng-model='billed.maindata')
          td {{datas.uid}}
          td {{datas.name}}
          td {{datas.debitoren}}
          td {{datas.ustidnr}}
          td {{datas.nettotal | currency:'€':2}}
          td {{datas.billedon | date: 'dd-MM-yyyy HH:mm:ss' : 'UTC'}}
          td
            span(id='pdfdownload', ng-click='billed.pdfDownload(datas.uid)').glyphicon.glyphicon-save-file.hoverred.gi-15x
          td
            span(id='csvdownload', ng-click='billed.exportToCsv(datas.uid)').glyphicon.glyphicon-save-file.hoverblue.gi-15x


//{{row.date | date: 'dd-MM-yyyy' : 'UTC'}}
{{billed.maindata}}
