h1 {{title}}

p {{data[2]}}

p {{account.suppliers}}

.row
  .col-lg-12
    {{data[0]}}
.row
  .col-lg-12
    form(name='custDataForm')
      .row
        h4 Kundendetails
        .row
          .col-lg-1
          .col-lg-4
            label Name
            input(type='text', placeholder='{{data[1][0].name}}', ng-model='data[1][0].name').form-control
        .row
          .col-lg-1
          .col-lg-4
            label Straße
            input(type='text', placeholder='{{data[1][0].street}}', ng-model='data[1][0].street').form-control
        .row
          .col-lg-1
          .col-lg-1
            label Land
            input(type='text', placeholder='{{data[1][0].country}}', ng-model='data[1][0].country').form-control
          .col-lg-1
            label Postleitzahl
            input(type='text', placeholder='{{data[1][0].postalcode}}', ng-model='data[1][0].postalcode').form-control
          .col-lg-2
            label Ort
            input(type='text', placeholder='{{data[1][0].city}}', ng-model='data[1][0].city').form-control
      .row
        h4 Rechnungsdetails
        .row
          .col-lg-1
          .col-lg-2
            label Debitore Nummer
            input(type='text', placeholder='{{data[1][0].debitoren}}', ng-model='data[1][0].debitoren').form-control
          .col-lg-2
            label UstIdnr
            input(type='text', placeholder='{{data[1][0].ustidnr}}', ng-model='data[1][0].ustidnr').form-control
      .row
        .row
          .col-lg-1
          .col-lg-4
            button(type='button', ng-click='UpdateCustomer()').btn.btn-success.top-buffer.pull-right Änderungen speichern
      .row
        h4 Referenz(en)
        .row
          .col-lg-1
          .col-lg-2
            table.table.table-striped
              thead
                tr
                  th Referenz
                  th Aktionen
              tbody
                tr(ng-repeat='datas in data[0]')
                  td {{datas.reference}}
                  td.btn-toolbar
                    //button(type='button', ng-click='Select(datas)').btn.btn-xs.btn-primary edit
                    button(type='button', ng-click='RemoveReference(datas.id)').btn.btn-xs.btn-danger löschen

                //tr(ng-repeat='datas in data[0]')
                  td {{datas.customerreference}}
                  td.btn-toolbar
                    button(type='button', ng-click='Select(datas)').btn.btn-xs.btn-primary edit
                    button(type='button', ng-click='RemoveReference(datas.id)').btn.btn-xs.btn-danger delete
        form(name='addrefForm')
          .row
            .col-lg-1
            .col-lg-2
              input(type='text', placeholder='', ng-model='reference.value', required).form-control
            .col-lg-1
              button(type='button', ng-disabled='addrefForm.$invalid',ng-click='AddNewReference(reference.value)').btn.btn-default.form-control Add
      .row.top-buffer
        h4 Kontonummer(n)
        .row
          .col-lg-1
          .col-lg-2
            table.table.table-striped
              thead
                tr
                  th Konto
                  th Lieferant
                  th Aktionen
              tbody
                tr(ng-repeat='datas2 in data[2]')
                  td {{datas2.accountnumber}}
                  td {{datas2.name}}
                  td.btn-toolbar
                    button(type='button', ng-click='RemoveAccount(datas2.id)').btn.btn-xs.btn-danger löschen
        form(name='addaccForm')
          .row
            .col-lg-1
            .col-lg-2
              input(type='text', placeholder='', ng-model='account.value', required).form-control
            .col-lg-2
              select(ng-options='suppl.id as suppl.name for suppl in account.suppliers', ng-model='account.suppl').form-control
                option(style='display:none', value='') Wählen...
            .col-lg-1
              button(type='button', ng-disabled='addaccForm.$invalid || account.suppl == undefined', ng-click='account.AddNewAccount(account.value,account.suppl)').btn.btn-default.form-control Add
