h1 {{title}}
h2 {{subtitle}}

table(st-table='data').table
  thead
    th Trackingnummer
    th Kontonummer
    th Etikett Datum
    th Referenz1
    th Referenz2
    th Kunde
    th Aktionen
  tbody
    tr(ng-repeat='row in data')
      td {{row.trackingnumber}}
      td {{row.accountnumber}}
      td {{row.labeldate | date: 'dd-MM-yyyy' : 'UTC'}}
      td {{row.reference1}}
      td {{row.reference2}}
      td {{row.name}}
      td
        button(type='button', ng-click='unsetSelected(row)').btn.btn-xs.btn-info Unidentifikation
