h1 {{title}}

.row
  .col-lg-12
    ul(role='tablist').nav.nav-pills
      li(role='presentation', ng-repeat="(year,value) in dateinfo", ng-class="{'active':$last}")
        a(aria-controls='{{year}}', role='tab', data-toggle='tab', ng-click='selectedYear(year)') {{year}}
    ul(role='tablist').nav.nav-tabs.top-buffer
      li(role='presentation', ng-repeat='month in dateinfo[yearsel]', ng-class="{'active':$first}")
        a(ng-href="#"+"{{month}}", aria-controls='{{month}}', role='tab', data-toggle='tab',showtab) {{month}}
    div.tab-content
      div(role='tabpanel', ng-repeat='month in dateinfo[yearsel]',id='{{month}}', ng-class="{'active':$first}").tab-pane
        .row
          .col-lg-12
            table(st-table='data').table.table-striped
              thead
                th id
                th InvoiceNo
                th Status
                th Supplier
                th Date
                th(colspan='2') Shipments
                th(colspan='2') Surcharges
                th Actions
              tbody
                tr(ng-repeat='row in data', ng-if='row.upyear==yearsel && row.upmonth==month')
                  td {{row.id}}
                  td {{row.invoiceno}}
                  td {{row.status}}
                  td {{row.name}}
                  td {{row.date | date: 'dd-MM-yyyy' : 'UTC'}}
                  td(ng-repeat='inv in counts2', ng-if='inv.main_invoice_id==row.id')
                    a(href='/invoices/iden/{{inv.main_invoice_id}}', role='button', data-ng-disabled="inv.count=='0' || row.status=='1' || close.disabledbtn").btn.btn-xs.btn-primary Identified 
                      span.badge {{inv.count}}
                  td(ng-repeat='inv in counts', ng-if='inv.main_invoice_id==row.id')
                    a(href='/invoices/unid/{{inv.main_invoice_id}}', role='button', data-ng-disabled="inv.count=='0' || row.status=='1' || close.disabledbtn").btn.btn-xs.btn-danger Unidentified 
                      span.badge {{inv.count}}
                  td(ng-repeat='inv in counts4', ng-if='inv.main_invoice_id==row.id')
                    div(ng-if='inv.main_invoice_id==row.id')
                      a(href='/invoices/idensur/{{inv.main_invoice_id}}', role='button', data-ng-disabled="inv.count=='0' || row.status=='1' || close.disabledbtn").btn.btn-xs.btn-primary Identified 
                        span.badge {{inv.count}}
                  td(ng-repeat='inv in counts3', ng-if='inv.main_invoice_id==row.id')
                    div(ng-if='inv.main_invoice_id==row.id')
                      a(href='/invoices/unidsur/{{inv.main_invoice_id}}', role='button', data-ng-disabled="inv.count=='0' || row.status=='1' || close.disabledbtn").btn.btn-xs.btn-danger Unidentified 
                        span.badge {{inv.count}}
                  td.btn-toolbar
                    button(type='button', ng-click='findCustomers(row.id)', ng-disabled="row.status=='1' || close.disabledbtn").btn.btn-xs.btn-success Find Customers
                    button(type='button', ng-click='closeInvoice(row.id)', ng-disabled="closeBoolInv(row.id) || row.status=='1' || close.disabledbtn").btn.btn-xs.btn-warning Close
                    button(type='button', ng-click='deleteInvoice(row.invoiceno,row.id)', ng-disabled="row.status=='1' || close.disabledbtn").btn.btn-xs.btn-danger Delete
            hr
            h4 Manually added
            table(st-table='manuallydata').table.table-striped
              thead
                th id
                th InvoiceNo
                th Status
                th Supplier
                th Date
                th Shipments
                th Surcharges
                th Action
              tbody
                tr(ng-repeat='row2 in mandata', ng-if='row2.yeartouse==yearsel && row2.monthtouse==month')
                  td {{row2.id}}
                  td {{row2.invoiceno}}
                  td {{row2.status}}
                  td {{row2.supplier}}
                  td {{row2.datedisp | date: 'dd-MM-yyyy' : 'UTC'}}
                  td
                    a(href='/maninvoices/shipments/{{row2.id}}', role='button', data-ng-disabled="row2.status=='1' || close.disabledbtn").btn.btn-xs.btn-primary
                      span.badge(ng-repeat='rowcount in mandatacount', ng-if='rowcount.main_invoice_nr == row2.invoiceno') {{rowcount.shipmentscount}}
                  td
                    a(href='/maninvoices/surcharges/{{row2.id}}', role='button', data-ng-disabled="row2.status=='1' || close.disabledbtn").btn.btn-xs.btn-primary
                      span.badge(ng-repeat='rowcount2 in mandatacount', ng-if='rowcount2.main_invoice_nr == row2.invoiceno') {{rowcount2.surchargescount}}
                  td.btn-toolbar
                    button(type='button', ng-click='closeManuallyInvoice(row2.id)', ng-disabled="row2.status=='1' || close.disabledbtn").btn.btn-xs.btn-warning Close
                    button(type='button', ng-click='deleteManuallyInvoice(row2.invoiceno,row2.id)', ng-disabled="row2.status=='1' || close.disabledbtn").btn.btn-xs.btn-danger Delete