h1 {{idensur.title}}
h2 {{idensur.subtitle}}

table(st-table='idensur.data').table
  thead
    th Trackingnummer
    th Kontonummer
    th Etikett Datum
    th Referenz1
    th Referenz2
    th Kunde
    th Zuschlag
    th Aktionen
  tbody
    tr(ng-repeat='row in idensur.data')
      td {{row.main_trackingnumber}}
      td {{row.accountnumber}}
      td {{row.labeldate | date: 'dd-MM-yyyy' : 'UTC'}}
      td {{row.reference1}}
      td {{row.reference2}}
      td {{row.name}}
      td {{row.surcharge}}
      td
        button(type='button', ng-click='idensur.unsetSelected(row)').btn.btn-xs.btn-info Unidentifikation

p{{idensur.data}}
