h1 {{maninvsrchg.title}}

.row
    .col-lg-12
        table(st-table='maninvsrchg.data').table.table-striped
            thead
                th ID
                th Trackingnummer
                th Etikett Datum
                th Zuschlag
                th Kunde
                th EK
                th VK
                th Aktionen
            tbody
                tr(ng-repeat='row in maninvsrchg.data')
                    td {{row.id}}
                    td {{row.trackingnumber}}
                    td {{row.labeldate}}
                    td {{row.namesurcharge}}
                    td {{row.namecustomer}}
                    td {{row.manually_ek}}
                    td {{row.manually_vk}}
                    td
                        button(type='button', ng-click='maninvsrchg.delManSrchg(row.id)').btn.btn-xs.btn-danger LÖSCHEN
