extends layout

block content
  p #{title}
  .row
    .col-lg-12
      table.table.table-striped.table-condensed
        thead
          th 1
          th 2
          th 3
          th 4
          th 5
          th 6
          th 7
          th 8
          th 9
          th 10
          th 11
          th 12
          th 13
          th 14
          th 15
          th 16
          th 17
          th 18
          th 19
          th 20
          th 21
          th 22
        tbody(id="a")

block script
  script(src='js/sites/index.js')